/results/
/missscan/missscan
/evict/evict
/procmap/procmap
/cgscan/cgscan
/tccg/tccg
/attachtest/attachtest
/threadscan/threadscan
/sendtrace/sendtrace
/tagtrace/tagtrace
/dnsuid/dnsuid
/tcbench/tcbench
/discovery/discovery
/logdlat/logdlat
/multitag/multitag
/senderscan/senderscan
